@page
@model ProjectBasora.Pages.BookPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
@if(Model.Book.Borrowed == true)
{
    <script type="text/javascript">
        window.onload = function (){
            alert("@Model.Book.Title is now borrowed so you can't delete it right now. Please request return first")
            history.go(-1)
        } 

    </script>
    <center style="  
    margin: 0;
    position: absolute;
    top: 50%;
    text-align:center">
    <h1>Cant delete this right now</h1>
    <p>@Model.Book.Title is now borrowed so you can't delete it right now. Please request return first</p>
    <a class="button buttonBlue" asp-page="/Index">Home</a>
    </center>
}
else{
<center>
<h3>Are you sure you want to delete book @Html.DisplayFor(model => model.Book.Title)?</h3>
<div>
  
        <a asp-page-handler="thumbnail" asp-route-filename="@Model.Book.BookId" asp-route-type="1"><img src="@Url.Page("/Index", "Thumbnail", new { filename = Model.Book.BookId})" /></a>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.NumberPages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.NumberPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookBinding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookBinding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.UploadedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.UploadedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Book.BookId" />
            <span><input type="submit" value="Yes" class="button buttonDanger" /></span>
            <a class="button" href="javascript: history.go(-1)">No</a>
    </form>
</div>
</center>
}