@page
@model ProjectBasora.Pages.BookPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Title)
        </dd>
        @if(Model.Book.Description != null){
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Description)
            </dd>
        }
        else
        {
                 <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Description)
        </dt>
        <dd class="col-sm-10">
            No description was provided
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.ISBN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.ISBN)
        </dd>
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BooksAndAuthors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BooksAndAuthors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.NumberPages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.NumberPages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.BookBinding)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.BookBinding)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Public)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Public)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.Borrowed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.Borrowed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.User.UserNick)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book.UploadedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book.UploadedAt)
        </dd>
  <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">

                
              @if(Model.Book.fileName != null)
                        {
                            <a asp-page-handler="thumbnail" asp-route-filename="@Model.Book.BookId" asp-route-type="1"><img style="width:100px; height:100px;" src="@Url.Page("./Index", "Thumbnail", new { filename = Model.Book.BookId })" /></a>
                        }
                        else
                        {
                            <img  style="width:100px; height:100px;"src="/images/no-image-available.jpg"/>
                           
                        }
                        
        </dd>


        
    </dl>
</div>
<div>
    @if(Model.Book.Borrowed == false && Model.AppUser != Model.Book.User){
    <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="submit" value="Borrow" class="btn btn-primary" asp-route-id="@Model.Book.BookId" />
            </div>
        </form>
    }
    else if(Model.AppUser == Model.Book.User){
        <p>This is your book</p>
         <input type="hidden" asp-for="Book.BookId" />
        <a class="button buttonDanger"asp-page="./EditBook" asp-route-id="@Model.Book?.BookId">Edit</a>
    }
    else
    {
        <p>This book is now borrowed</p>
    }
</div>
<div>
       <input type="hidden" asp-for="Book.BookId" />
     
       <a class="button buttonBlue"  href="javascript: history.go(-1)">Back</a>
</div>
