@page
@model ProjectBasora.Pages.BookPages.EditModel

@{
    ViewData["Title"] = "Edit";
}
@if(Model.Book.Borrowed == true)
{
    <script type="text/javascript">
        window.onload = function (){
            alert("@Model.Book.Title is now borrowed so you can't edit it right now. Please request return first")
            history.go(-1)
        } 

    </script>
    <center style="  
    margin: 0;
    position: absolute;
    top: 50%;
    text-align:center">
    <h1>Cant edit this right now</h1>
    <p>@Model.Book.Title is now borrowed so you can't edit it right now. Please request return first</p>
    <a class="button buttonBlue" asp-page="/Index">Home</a>
    </center>
}
else{
<h1>Edit book @Html.DisplayFor(model => model.Book.Title)</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
                <input style="display:none;" asp-for="Book.ContentType" />
                <input style="display:none;" asp-for="Book.Thumbnails" />
                <input style="display:none;" asp-for="Book.UserId" />
                <input style="display:none;" asp-for="Book.User" />
                <input style="display:none;" asp-for="Book.UploadedAt" />
                <input style="display:none;" asp-for="Book.fileName" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Book.BookId" />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ISBN" class="control-label"></label>
                <input asp-for="Book.ISBN" class="form-control" />
                <span asp-validation-for="Book.ISBN" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <input asp-for="Book.Description" class="form-control" />
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.NumberPages" class="control-label"></label>
                <input asp-for="Book.NumberPages" class="form-control" />
                <span asp-validation-for="Book.NumberPages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Weight" class="control-label"></label>
                <input asp-for="Book.Weight" class="form-control" />
                <span asp-validation-for="Book.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.BookBinding" class="control-label"></label>
                <input asp-for="Book.BookBinding" class="form-control" />
                <span asp-validation-for="Book.BookBinding" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Book.Public" /> @Html.DisplayNameFor(model => model.Book.Public)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Book.Borrowed" /> @Html.DisplayNameFor(model => model.Book.Borrowed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
     <a class="button buttonBlue"  href="javascript: history.go(-1)">Back</a>
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
