@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Available to Borrow</h1>
    
    <form >
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
    </form>

    @if (Model.Books.Count > 0)
    {
        <div class="grid-container">
            @foreach (var f in Model.Books)
            {
                @if (f.fileName != null)
                {


                    <div class="grid-item gridcontainer">
                        <a asp-page="./BookPages/DetailsBook" asp-route-id="@f.BookId"><img class="PICthumbnail" src="@Url.Page("/Index", "Thumbnail", new { filename = f.BookId })" /></a>
                        <p style="text-align:center; padding-top:5px">@f.Title</p>
                        <small>Uploaded by: <strong>@f.User.UserNick</strong></small>
                    </div>
                }
                else
                {
                    <div class="grid-item gridcontainer">
                        <a asp-page="./BookPages/DetailsBook" asp-route-id="@f.BookId"> <img class="PICthumbnail" src="/images/no-image-available.jpg" />  </a>
                        <p style="text-align:center;">@f.Title</p>
                        <small>Uploaded by: <strong>@f.User.UserNick</strong></small>
                    </div>
                }

            }

        </div>

    }
  
    else
    {
          <img style="width:200px; height:200px; text-align:center" src="/images/nothing-found.png" />
        <h1 style="text-align:center; color:black;">Try something else...</h1>
       
    }
